@model LeaveManagement.Web.Models.EmployeeAllocationVM

@{
	ViewData["Title"] = "View Allocations";
}

<h1>View Allocations for @Model.Firstname @Model.Lastname</h1>

<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Firstname)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Firstname)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Lastname)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Lastname)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DateJoined)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.DateJoined)
		</dd>
	</dl>
</div>
<hr />

<h4>Leave Allocations</h4>
<table class="table">
	<thead>
		<tr>
			<th>
				Leave Name
			</th>
			<th>
				Allocated Days
			</th>
			<th>
				Remaining Days
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var allocation in Model.LeaveAllocations)
		{
			<tr>
				<td>
					@allocation.LeaveType.Name
				</td>
				<td>
					@allocation.LeaveType.DefaultDays
				</td>
				<td>
					@allocation.NumberOfDays
				</td>
				<td class="col">
					<a asp-action="EditAllocation" asp-route-id="@allocation.Id" class="btn btn-warning"><i class="fa-solid fa-pencil"></i></a>
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="card" style="col-md-12">
	<ul class="list-group list-group-flush">

	</ul>
</div>

<div class="mt-3">
	<a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>
